<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>

<body>
  {{#if logged_in}}
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="/homepage">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/dashboard">Dashboard</a>
  </nav>

  {{else}}
  <header>
   <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" href="/homepage">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/dashboard">Dashboard</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="/login">Login</a>
  </nav>
  <div>
   {{/if}}
    <div>
      <h1>Tech Blog</h1>



    <main class="container container-fluid mt-5">

      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    {{#if logged_in}}
    <footer>
      <button class="btn btn-primary" id="logout">logout</button>
    </footer>
    <script src="/js/logout.js"></script>
    {{/if}}
</body>



</html>